.container {
    display: flex;
    justify-content: space-between;
}

#pie{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(brown 0.00%, black 0.00% 0.55%, blue 0.55% 6.08%, green 6.08% 13.68%, yellow 13.68% 23.27%, orange 23.27% 40.47%, red 40.47%);
}